@charset "EUC-KR";


.more_div {
	text-align: center;
	margin-top: 5rem;
}

.more_btn {
    padding: 1rem 4rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    transition: .2s;
}

.more_btn:hover {
	cursor: pointer;
	background-color: #5583AC;
	border: 0;
	transition: .2s;
}