
body {
    display: flex;
    flex-direction: column
}

.section_main {
    margin: 0 auto
}

.main_title {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 4rem 0 calc(4rem - 1rem) 1rem
}

.main_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem
}

.main_content .post {
    padding: 0 1rem 3rem;
    font-size: 1.2rem;
    line-height: 1.7rem
}

.main_content .post div {
    margin: .5rem 0
}

.main_content .post .post_img {
    width: 100%;
    height: 15rem;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    background-image: url(../../images/post-default2.png)
}

.main_content .post:hover>.post_img {
    opacity: .3
}

.main_content .post .post_title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1.5rem
}

.main_btn .more_btn:hover,
.main_content .post .post_title:hover {
    text-decoration: underline;
    cursor: pointer
}

.main_btn,
.main_content .post_info {
    display: flex;
    justify-content: space-between
}

.post_info a, .post_info a:visited, .post_info a:hover{
	color: black;
}


.main_btn {
    justify-content: center;
    margin-top: 5rem
}

.main_btn .more_btn {
    padding: 1.5rem 4rem;
    font-size: 1.3rem;
    background-color: #000;
    border-radius: 2.5rem;
    color: #fff
}

.like_heart, .like_heart path {
	color: #f55a7d;
}