<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rgrg.user.blogmain">

  	<select id="selectProfile" parameterType="kr.co.rgrg.user.blog.vo.BlogMainVO"
  	resultType="kr.co.rgrg.user.blog.domain.BlogMainDomain">
		select member.id, blog_name, profile_img, nickname, statement_msg, visible_email, github, website,
				nvl(following_cnt,0) following_cnt, nvl(follower_cnt,0) follower_cnt, nvl(post_cnt,0) post_cnt
		from member,
			(select id, count(following_id) following_cnt from following where id=#{id} group by id) following_t,
			(select id, count(follower_id) follower_cnt from follower where id=#{id} group by id) follower_t,
			(select id, count(id) post_cnt from post where id=#{id} and delete_Flag='F' and publish_Flag='T' 
			<if test="hidden_flag.equals(true)">
			and hidden_flag='F'
			</if>
			group by id) post_t
		where member.id=#{id}
			and member.id=following_t.id(+)
			and member.id=follower_t.id(+)
			and member.id=post_t.id(+)
	</select>
	
	<select id="selectTagList" parameterType="kr.co.rgrg.user.blog.vo.BlogMainVO" resultType="kr.co.rgrg.user.blog.domain.TagDomain">
		select tag_name, count(tag_name) tag_cnt
		from tag, post, member
		where post.post_num=tag.post_num and member.id=post.id and member.id=#{id}
		<if test="hidden_flag.equals(true)">
		and hidden_flag='F'
		</if>
		group by tag_name
	</select>
	
	<select id="selectPostList" parameterType="kr.co.rgrg.user.pagination.PostRangeVO" 
	resultType="kr.co.rgrg.user.blog.domain.PostDomain">
		select post_num, thumbnail, post_title, post_content, view_cnt, hidden_flag, to_char(input_date, 'yyyy.mm.dd hh24:mi') input_date, nvl(comm_cnt,0) comm_cnt
		from
			(select post.post_num, thumbnail, post_title, post_content, view_cnt, hidden_flag, input_date, comm_cnt, row_number() over(order by input_date desc) rnum
			from post,
				(select post.post_num, count(comm.post_num) comm_cnt
				from post,comm
				where post.post_num=comm.post_num and comm.delete_flag='F' and post.id=#{id}
				group by post.post_num) comm
			where post.post_num=comm.post_num(+) and delete_flag='F'
			<if test="hidden_flag.equals(true)">
			and hidden_flag='F'
			</if>
			<if test='column_name=="search"'>
			and (post_title like '%'||#{column_value}||'%' or post_content like '%'||#{column_value}||'%')
			</if>
			and post.id=#{id})
		where rnum between #{start_num} and #{end_num}
	</select>
	
	<select id="selectPostListTagSearch" parameterType="kr.co.rgrg.user.pagination.PostRangeVO" 
	resultType="kr.co.rgrg.user.blog.domain.PostDomain">
		select post_num, thumbnail, post_title, post_content, view_cnt, hidden_flag, to_char(input_date, 'yyyy.mm.dd hh24:mi') input_date, nvl(comm_cnt,0) comm_cnt
		from (select post.post_num, thumbnail, post_title, post_content, view_cnt, hidden_flag, input_date, comm_cnt, row_number() over(order by input_date desc) rnum
			from post, tag,
				(select post.post_num, count(comm.post_num) comm_cnt
				from post,comm
				where post.post_num=comm.post_num and comm.delete_flag='F' and post.id=#{id}
				group by post.post_num) comm
			where post.post_num=comm.post_num(+) and post.post_num=tag.post_num
			and delete_flag='F'
			<if test="hidden_flag.equals(true)">
			and hidden_flag='F'
			</if>
			and tag_name=#{column_value}
			and post.id=#{id})
		where rnum between #{start_num} and #{end_num}
	</select>
	
	
	<select id="selectPostTagList" parameterType="int" resultType="String">
		select tag_name
		from tag
		where post_num=#{post_num}
	</select>
	
</mapper>