<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rgrg.user.blogmain">

  	<select id="selectProfile" parameterType="String" resultType="kr.co.rgrg.user.blog.domain.ProfileDomain">
		select profile_img, nickname, statement_msg, visible_email, github, website, following_cnt, follower_cnt
		from member, 
			(select count(following_id) following_cnt
			from following
			where id=#{id}
			group by id),
			(select count(follower_id) follower_cnt
			from follower
			where id=#{id}
			group by id)
		where member.id=#{id}
	</select>
	
	<select id="selectFollowingCnt" parameterType="String" resultType="int">
		select count(following_id) following_cnt
		from following
		where id=#{id}
		group by id
	</select>

	<select id="selectFollowerCnt" parameterType="String" resultType="int">
		select count(follower_id) follower_cnt
		from follower
		where id=#{id}
		group by id;
	</select>
	
</mapper>