<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rgrg.user.follow">
	
	<!-- 팔로워 목록을 가져오는 일 column_name : f.FOLLOWING_ID / column_value : 팔로워 목록을 조회할 아이디 -->
	<!-- 팔로우 상태 포함해서 수정해야함, Domain 고민도 하기 -->
	<select id="selectFollower" parameterType="kr.co.rgrg.user.pagination.RangeVO" resultType="kr.co.rgrg.user.follow.domain.FollowerDomain">
		select ID, NICKNAME, STATEMENT_MSG, PROFILE_IMG
		from (select m.ID, m.NICKNAME, m.STATEMENT_MSG, m.PROFILE_IMG, row_number() over(order by f.INPUT_DATE desc) rnum
				from FOLLOWING f, MEMBER m
				where f.ID = m.ID and ${ column_name } = #{ column_value })
		where rnum between #{ start_num } and #{ end_num }
	</select>
	
	<!-- 팔로잉 목록을 가져오는 일 column_name : f.FOLLOWER_ID / column_value : 팔로잉 목록을 조회할 아이디 -->
	<!-- 팔로우 상태 포함해서 수정해야함, Domain 고민도 하기 -->
	<select id="selectFollowing" parameterType="kr.co.rgrg.user.pagination.RangeVO" resultType="kr.co.rgrg.user.follow.domain.FollowingDomain">
		select ID, NICKNAME, STATEMENT_MSG, PROFILE_IMG
		from (select m.ID, m.NICKNAME, m.STATEMENT_MSG, m.PROFILE_IMG, row_number() over(order by f.INPUT_DATE desc) rnum
				from FOLLOWER f, MEMBER m
				where f.ID = m.ID and ${ column_name } = #{ column_value })
		where rnum between #{ start_num } and #{ end_num }
	</select>
	
	<!-- 팔로우 상태를 확인하는 일 -->
	<select id="selectFollowState" parameterType="kr.co.rgrg.user.follow.vo.FollowVO" resultType="String">
		select f.FOLLOWING_ID
		from FOLLOWING f, MEMBER m
		where f.ID = m.ID and f.FOLLOWING_ID = #{ following_id } and m.ID = #{ id }
	</select>
	
	<!-- 팔로우를 하는 일 -->
	<!-- VO수정? -->
	<insert id="insertFollow" parameterType="kr.co.rgrg.user.follow.vo.FollowVO">
		INSERT ALL
		INTO FOLLOWER(ID, FOLLOWER_ID) values(#{ id }, #{ follower_id });
		INTO FOLLOWING(ID, FOLLOWING_ID) values(#{ id }, #{ following_id });
		SELECT *
		FROM DUAL;
	</insert>
	
	<!-- 언팔로우를 하는 일 -->
	<!-- VO수정? -->
	<delete id="deleteFollow" parameterType="kr.co.rgrg.user.follow.vo.FollowVO">
		BEGIN
			delete from FOLLOWER where ID = #{ following_id } and FOLLOWER_ID = #{ id };
			delete from FOLLOWING where ID = #{ id } and FOLLOWING_ID = #{ following_id };
		END;
	</delete>
	
</mapper>