<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rgrg.user.follow">
	
	<!-- 팔로워 목록을 가져오는 일 column_value : 팔로워 목록을 조회할 아이디 / column_value2 : 현재 세션에 저장되어 있는 아이디 -->
	<select id="selectFollower" parameterType="kr.co.rgrg.user.pagination.FollowRangeVO" resultType="kr.co.rgrg.user.follow.domain.FollowDomain">
		select ID, FOLLOWING_ID, NICKNAME, STATEMENT_MSG, PROFILE_IMG
		from (select m.ID, ff.FOLLOWING_ID, m.NICKNAME, m.STATEMENT_MSG, m.PROFILE_IMG, row_number() over(order by f.INPUT_DATE desc) rnum
				from MEMBER m, FOLLOWER f, FOLLOWING ff
				where f.ID = #{ column_value } and f.FOLLOWER_ID = m.ID and ff.ID(+) = #{ column_value2 } and f.FOLLOWER_ID = ff.FOLLOWING_ID(+))
		where rnum between #{ start_num } and #{ end_num }
	</select>
	
	<!-- 팔로잉 목록을 가져오는 일 column_value : 팔로잉 목록을 조회할 아이디 / column_value2 : 현재 세션에 저장되어 있는 아이디 -->
	<select id="selectFollowing" parameterType="kr.co.rgrg.user.pagination.FollowRangeVO" resultType="kr.co.rgrg.user.follow.domain.FollowDomain">
		select ID, FOLLOWING_ID, NICKNAME, STATEMENT_MSG, PROFILE_IMG
		from (select m.ID, f2.FOLLOWING_ID, m.NICKNAME, m.STATEMENT_MSG, m.PROFILE_IMG, row_number() over(order by f1.INPUT_DATE desc) rnum
				from MEMBER m, FOLLOWING f1, FOLLOWING f2
				where f1.ID =#{ column_value } and f1.FOLLOWING_ID = m.ID and f2.ID(+) = #{ column_value2 } and f1.FOLLOWING_ID = f2.FOLLOWING_ID(+))
		where rnum between #{ start_num } and #{ end_num }
	</select>
	
	<!-- 팔로워 목록 개수를 세는 일 -->
	<select id="selectFollowerCnt" parameterType="kr.co.rgrg.user.pagination.FollowRangeVO" resultType="int">
		select count(*)
		from MEMBER m, FOLLOWER f, FOLLOWING ff
		where f.ID = #{ column_value } and f.FOLLOWER_ID = m.ID and ff.ID(+) = #{ column_value2 } and f.FOLLOWER_ID = ff.FOLLOWING_ID(+)
	</select>	
	
	<!-- 팔로잉 목록 개수를 세는 일 -->
	<select id="selectFollowingCnt" parameterType="kr.co.rgrg.user.pagination.FollowRangeVO" resultType="int">
		select count(*)
		from MEMBER m, FOLLOWING f1, FOLLOWING f2
		where f1.ID =#{ column_value } and f1.FOLLOWING_ID = m.ID and f2.ID(+) = #{ column_value2 } and f1.FOLLOWING_ID = f2.FOLLOWING_ID(+)
	</select>	

	<!-- 팔로우를 하는 일 -->
	<insert id="insertFollow" parameterType="kr.co.rgrg.user.follow.vo.FollowVO">
		insert all
		into FOLLOWER (ID, FOLLOWER_ID) values (#{ following_id }, #{ id })
		into FOLLOWING (ID, FOLLOWING_ID) values (#{ id }, #{ following_id })
		select * from dual		
	</insert>
	
	<!-- 언팔로우를 하는 일 -->
	<delete id="deleteFollow" parameterType="kr.co.rgrg.user.follow.vo.FollowVO">
		BEGIN
			delete from FOLLOWER where ID = #{ following_id } and FOLLOWER_ID = #{ id };
			delete from FOLLOWING where ID = #{ id } and FOLLOWING_ID = #{ following_id };
		END;
	</delete>
	
</mapper>