<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rgrg.user.mypage">
	<select id="selectMemberData" resultType="kr.co.rgrg.user.mypage.domain.MypageDomain" parameterType="String">
  		select	nickname, blog_name, alram_flag, github, website, visible_email, profile_img, statement_msg
  		from	member
  		where	id = #{id}
	</select>
	<update id="updateProfileImg" parameterType="kr.co.rgrg.user.mypage.vo.UpdateProfileImgVO">
		update	member
		set		profile_img = #{profileImg}
		where	id = #{id}
	</update>
	<update id="updateProfile" parameterType="kr.co.rgrg.user.mypage.vo.UpdateProfileVO">
		update	member
		set		profile_msg = #{statement}, nickname = #{nickname}
		where	id = #{id}
	</update>
</mapper>