<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rgrg.user.mypage">
	<select id="selectMemberData" resultType="kr.co.rgrg.user.mypage.domain.MypageDomain" parameterType="String">
  		select	nickname, blog_name, alarm_flag, github, website, visible_email, auth_email, profile_img, statement_msg
  		from	member
  		where	id = #{id}
	</select>
	<update id="updateProfileImg" parameterType="kr.co.rgrg.user.mypage.vo.UpdateProfileImgVO">
		update	member
		set		profile_img = #{profileImg}
		where	id = #{id}
	</update>
	<update id="updateProfile" parameterType="kr.co.rgrg.user.mypage.vo.UpdateProfileVO">
		update	member
		set		profile_msg = #{statement}, nickname = #{nickname}
		where	id = #{id}
	</update>
	<update id="updateBlogTitle" parameterType="kr.co.rgrg.user.mypage.vo.UpdateBlogTitleVO">
		update	member
		set		blog_title = #{blog_name}
		where	id = #{id}
	</update>
	<update id="updateSocialData" parameterType="kr.co.rgrg.user.mypage.vo.UpdateSocialDataVO">
		update	member
		set		website = #{website}, github = #{github}, visible_email = #{visible_email}
		where	id = #{id}
	</update>
	<update id="updateEmail" parameterType="kr.co.rgrg.user.mypage.vo.UpdateEmailVO">
		update	member
		set		auth_email = #{auth_email}, alaram_flag = #{alarm_agree}
		where	id = #{id}
	</update>
	<select id="selectPass" resultType="String" parameterType="kr.co.rgrg.user.mypage.vo.PassChkVO">
  		select	pass
  		from	member
  		where	id = #{id}
	</select>
	<update id="updateMember" parameterType="String">
		update	member
		set		member_flag='F', alarm_flag='', website = '', access_token='', platform = '', github='', visible_email='', statement_msg='', profile_img = '', blog_name='', nickname='', auth_email = '', pass=''
		where	id = #{id}
	</update>
	<update id="updatePass" parameterType="kr.co.rgrg.user.mypage.vo.UpdatePassVO">
		update	member
		set		pass = #{pass}
		where	id = #{id}
	</update>
</mapper>