<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rgrg.user.pagination">
  	<select id="selectTotalCnt" parameterType="kr.co.rgrg.user.pagination.TotalCntVO" resultType="int">
		select count(*)
		from ${ table_name }
		<if test="column_name neq null">
		<where>
		${ column_name } = #{ column_value }
		</where>
		</if>
	</select>

  	<select id="selectTotalFollowCnt" parameterType="kr.co.rgrg.user.pagination.TotalFollowCntVO" resultType="int">
		select count(*)
		from ${ table_name }
		<if test="column_name neq null">
		<where>
		${ column_name } = #{ column_value }
		</where>
		</if>
		<if test="column_name2 neq null">
		<where>
		${ column_name2 } = #{ column_value2 }
		</where>
		</if>
	</select>
	
	<select id="selectTotalPostCnt" parameterType="kr.co.rgrg.user.pagination.PostRangeVO" resultType="int">
		select count(*)
		from post
		where delete_flag='F'
		<if test="hidden_flag.equals(true)">
		and hidden_flag='F'
		</if>
		<if test='column_name=="search"'>
		and post_title like '%'||#{column_value}||'%' or post_content like '%'||#{column_value}||'%'
		</if>
		and post.id=#{id}
	</select>
	
	<select id="selectTotalPostTagSearchCnt" parameterType="kr.co.rgrg.user.pagination.PostRangeVO" resultType="int">
		select count(*) 
		from post, tag 
		where post.post_num=tag.post_num and delete_flag='F' and hidden_flag='F' 
		and tag_name=#{column_value} and post.id=#{id}
	</select>
	
	
	<select id="selectMainTotalCnt" parameterType="kr.co.rgrg.user.pagination.RangeVO" resultType="int">
		select count(*) 
		from post 
		where delete_flag='F' and hidden_flag='F' and publish_flag='T' 
		<if test="column_value!=null and !column_value.equals('')">and (post_title like '%${ column_value }%' or post_content like '%${ column_value }%')</if>
	</select>
	
</mapper>