<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rgrg.user.post">
	<!-- 게시글 저장 -->
	<insert id="insertPost" parameterType="kr.co.rgrg.post.vo.PostVO">
		<selectKey keyProperty="post_num" resultType="int">
			select seq_post_num.nextval from dual
		</selectKey>
		insert into post 
		(post_num, thumnail, post_title, post_content, publish_flag, hidden_flag, input_date)  
		values
		(#{post_num}, #{thumnail}, #{post_title}, #{post_content}, #{publish_flag}, #{hidden_flag}, sysdate)
	</insert>
</mapper>