<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rgrg.user.post">
	<!-- 게시글 저장 -->
	<insert id="insertPost" parameterType="kr.co.rgrg.user.post.vo.PostVO">
		<selectKey keyProperty="post_num" resultType="string" order="BEFORE">
			select seq_post_num.nextval from dual
		</selectKey>
		insert all
		into post 
		(post_num, thumbnail, post_title, post_content, publish_flag, hidden_flag, input_date, id)  
		values
		(${post_num}, #{thumbnail}, #{post_title}, #{post_content}, #{publish_flag}, #{hidden_flag}, sysdate, #{id})
		
		<foreach collection="tags" item="tag">
		into tag
		(post_num, tag_name)
		values
		(${post_num}, #{tag})
		
		</foreach>
		select * from dual
	</insert>
	<!-- 태그 저장 -->
	<insert id="insertTag" parameterType="kr.co.rgrg.user.post.vo.ModifyPostVO">
		<foreach item="tag" index="index" collection="tags" open="insert all">
		into tag(
			post_num, tag_name
		) values
		(
			#{post_num}, #{tag}
		)
	</foreach>
	select * from dual
	</insert>
	<!-- 태그들 전부 삭제 -->
	<delete id="deleteTag" parameterType="string">
		delete from tag where post_num = #{post_num}
	</delete>
	<!-- 임시저장된 글이 있는지 검색 -->
	<select id="selectPublishCnt" resultType="string" parameterType="string">
		select post_num
		from post
		where publish_flag = 'F' and id= #{id}
	</select>
	<!-- 저장된 게시글 수정하기 -->
	<update id="updatePost" parameterType="kr.co.rgrg.user.post.vo.ModifyPostVO">
		update post
		set	thumbnail = #{thumbnail}, post_title=#{post_title}, post_content = #{post_content}, publish_flag=#{publish_flag}, hidden_flag=#{hidden_flag}
		where post_num = #{post_num} and id = #{id}
	</update>
	<select id="selectPost" parameterType="string" resultType="kr.co.rgrg.user.post.domain.PostDomain">
		select post_num, thumbnail, post_title, post_content, publish_flag, hidden_flag
		from post
		where post_num = #{post_num}
	</select>
	<select id="selectTag" parameterType="kr.co.rgrg.user.post.domain.PostDomain" resultType="string">
		select tag_name
		from tag
		where post_num = #{post_num}
	</select>
</mapper>